# Table of Contents
## 1. Import Libraries & Data
## 2. Exploring Data
## 3. Data Cleaning
## 4. Data Wrangling
## 5. Creating a Table with Only Birds
## 6. Save Data

## 1. Import Libraries & Data

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Import Data
lp = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Original Data/LPD2022_public.csv', index_col = False)

/var/folders/kk/6z0tdmb13cd8dwpkbrq630qw0000gn/T/ipykernel_26725/59007774.py:2: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  lp = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Original Data/LPD2022_public.csv', index_col = False)

In [4]:
pd.set_option('display.max_columns', None)

## 2. Exploring Data

In [5]:
# Looking at first 5 rows of data
lp.head()

,ID,Binomial,Replicate,Citation,Class,Order,Family,Genus,Species,Subspecies,Authority,Common_name,Location,Country,All_countries,Region,IPBES_region,IPBES_subregion,Latitude,Longitude,Specific_location,System,T_realm,T_biome,FW_realm,FW_biome,M_realm,M_ocean,M_biome,Migratory_fw_fish,Units,Method,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Balearica_regulorum,1,"Pomeroy, D. and P. Mwima (2002). The State of ...",Aves,Gruiformes,Gruidae,Balearica,regulorum,NaN,"(Bennett, 1834)",Grey-crowned crane,South-western Uganda,Uganda,Uganda,Africa,Africa,East Africa and adjacent islands,-0.07889,31.13306,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,Counts along roads from moving vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Acrocephalus_sechellensis,1,"Rands, M. (1989). ""Saving the Seychelles brush...",Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,NaN,"(Oustalet, 1877)",Seychelles warbler,"Cousin Island, Seychelles",Seychelles,Seychelles,Africa,Africa,East Africa and adjacent islands,-4.33333,55.66667,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Individuals,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Copsychus_sechellarum,1,"Komdeur, J. (1996). ""Breeding of the Seychelle...",Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,NaN,"Newton, 1865",Seychelles magpie-robin,Seychelles,Seychelles,Seychelles,Africa,Africa,East Africa and adjacent islands,-4.58333,55.66667,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Total population number,Direct counts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Copsychus_sechellarum,0,"Komdeur, J. (1996). ""Breeding of the Seychelle...",Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,NaN,"Newton, 1865",Seychelles magpie-robin,"Fregate Island, Seychelles",Seychelles,Seychelles,Africa,Africa,East Africa and adjacent islands,-4.58333,55.93333,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of individuals,Direct counts of colour-ringed birds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Falco_punctatus,0,"Groombridge, J. J., Bruford, M.W., Jones, C.G,...",Aves,Falconiformes,Falconidae,Falco,punctatus,NaN,"Temminck, 1821",Mauritius kestrel,"Western Population, Mauritius",Mauritius,Mauritius,Africa,Africa,East Africa and adjacent islands,-20.30000,57.58333,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of breeding pairs,Transect surveys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,2.0,4.0,4.0,7.0,7.0,7.0,9.0,8.0,9.0,13.0,14.0,22.0,26.0,40.0,52.0,58.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Doing descriptive statistics
lp.describe()

,ID,Replicate,Latitude,Longitude,Specific_location,Migratory_fw_fish,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,32680.000000,32680.000000,32672.000000,32672.000000,32672.000000,32680.000000,2.580000e+02,2.400000e+02,2.810000e+02,2.770000e+02,2.940000e+02,3.160000e+02,3.650000e+02,3.340000e+02,3.800000e+02,4.250000e+02,5.980000e+02,6.480000e+02,6.600000e+02,6.890000e+02,7.480000e+02,8.570000e+02,8.720000e+02,1.036000e+03,1.066000e+03,1.116000e+03,3.457000e+03,3.332000e+03,3.494000e+03,3.890000e+03,4.180000e+03,4.471000e+03,4.449000e+03,4.740000e+03,4.985000e+03,5.125000e+03,5.529000e+03,5.937000e+03,6.014000e+03,6.385000e+03,6.748000e+03,6.964000e+03,6.959000e+03,7.434000e+03,7.298000e+03,7.509000e+03,8.114000e+03,8.201000e+03,9.109000e+03,9.551000e+03,9.682000e+03,1.015100e+04,9.600000e+03,1.059800e+04,1.054000e+04,1.016300e+04,1.086800e+04,1.045000e+04,1.065000e+04,1.035800e+04,1.028600e+04,1.055300e+04,9.867000e+03,9.569000e+03,9.810000e+03,9.895000e+03,1.110600e+04,1.156400e+04,1.074900e+04,9.776000e+03,9.822000e+03,7.008000e+03,6.518000e+03,5.400000e+03,2.428000e+03,2.159000e+03,1.139000e+03
mean,50782.992105,0.177020,11.812923,16.052034,0.398843,0.041983,9.887141e+12,1.046159e+13,8.792070e+12,8.701701e+12,7.993744e+12,7.447311e+12,6.220684e+12,6.514787e+12,5.477179e+12,4.628041e+12,3.097671e+12,2.665273e+12,2.427708e+12,2.131462e+12,1.811587e+12,1.448725e+12,1.293645e+12,9.990617e+11,8.746515e+11,7.446768e+11,2.139226e+11,1.949313e+11,1.596398e+11,1.205995e+11,9.537343e+10,8.239804e+10,7.776585e+10,6.609295e+10,5.674252e+10,4.896235e+10,4.021764e+10,3.259256e+10,2.734271e+10,2.367603e+10,2.156441e+10,2.160805e+10,2.248942e+10,2.074865e+10,2.061442e+10,1.871803e+10,1.640111e+10,1.646362e+10,1.583309e+10,1.630189e+10,1.677838e+10,1.669113e+10,1.859788e+10,1.751332e+10,1.837037e+10,2.058603e+10,2.040070e+10,2.182323e+10,2.178183e+10,2.241256e+10,2.294064e+10,2.190829e+10,2.463208e+10,2.740628e+10,3.009065e+10,3.601372e+10,3.953671e+10,4.766419e+10,5.797680e+10,7.167065e+10,7.749080e+10,1.186852e+11,1.384078e+11,2.245796e+09,1.170292e+04,7.758927e+03,3.979630e+03
std,59913.726284,0.381691,36.692082,99.548572,0.489668,0.200553,1.556606e+14,1.588098e+14,1.443834e+14,1.418174e+14,1.341581e+14,1.255219e+14,1.126074e+14,1.127875e+14,1.011228e+14,9.028342e+13,7.161490e+13,6.408102e+13,5.882373e+13,5.262076e+13,4.648170e+13,3.966901e+13,3.560255e+13,2.952855e+13,2.610977e+13,2.258784e+13,1.132345e+13,1.001284e+13,8.260409e+12,6.440410e+12,5.167628e+12,4.594269e+12,4.320979e+12,3.767270e+12,3.251317e+12,2.817516e+12,2.377842e+12,1.960266e+12,1.616559e+12,1.432833e+12,1.343035e+12,1.387658e+12,1.455873e+12,1.393006e+12,1.360358e+12,1.220955e+12,1.098347e+12,1.124262e+12,1.170612e+12,1.264546e+12,1.333963e+12,1.387661e+12,1.526402e+12,1.520517e+12,1.575917e+12,1.734892e+12,1.791214e+12,1.892892e+12,1.895704e+12,1.913052e+12,1.966938e+12,1.911466e+12,2.079109e+12,2.285740e+12,2.551411e+12,3.140710e+12,3.748392e+12,4.703433e+12,5.581135e+12,6.649939e+12,7.259163e+12,9.512835e+12,1.074293e+13,1.541690e+11,1.663224e+05,1.373722e+05,1.282568e+05
min,1.000000,0.000000,-78.193822,-180.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8907.750000,0.000000,-24.229471,-65.298586,0.000000,0.000000,7.000000e+00,6.000000e+00,1.000000e+01,6.000000e+00,8.000000e+00,8.000000e+00,1.040000e+01,1.400000e+01,6.750000e+00,1.000000e+01,1.125000e+01,1.600000e+01,1.575000e+01,1.100000e+01,9.530000e+00,1.800000e+01,9.000000e+00,9.850000e+00,5.597596e+00,7.000000e+00,6.030000e-01,5.365915e-01,4.970000e-01,5.135000e-01,5.565258e-01,6.465000e-01,6.190000e-01,6.473610e-01,6.044560e-01,6.030000e-01,6.981000e-01,5.300000e-01,5.655000e-01,6.311110e-01,5.695000e-01,6.100000e-01,6.438340e-01,6.827500e-01,6.692500e-01,7.850000e-01,8.071448e-01,7.000000e-01,7.210000e-01,6.000000e-01,6.085620e-01,6.200000e-01,7.337500e-01,5.967250e-01,5.000000e-01,3.900000e-01,3.900000e-01,3.335000e-01,3.142500e-01,2.900000e-01,2.900000e-01,2.260000e-01,1.385000e-01,9.500000e-02,4.962500e-02,2.157000e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,20213.500000,0.000000,13.544170,5.955000,0.000000,0.000000,1.815000e+02,2.704000e+02,2.220000e+02,2.240000e+02,2.570000e+02,1.705735e+02,2.500000e+02,3.990000e+02,2.371500e+02,2.200000e+02,2.567400e+02,4.212000e+02,2.850000e+02,2.510000e+02,2.000000e+02,3.050000e+02,1.925000e+02,1.605000e+02,1.025000e+02,1.100000e+02,7.380000e+00,6.000000e+00,5.042959e+00,5.017944e+00,5.700000e+00,7.333333e+00,7.190000e+00,7.660000e+00,7.340000e+00,7.520000e+00,1.000000e+01,8.580000e+00,1.000000e+01,1.100000e+01,1.000000e+01,1.170000e+01,1.146558e+01,1.190000e+01,1.200000e+01,1.300000e+01,1.500000e+01,1.200000e+01,1.100000e+01,1.000000e+01,1.000000e+01,1.100000e+01,1.200000e+01,1.072500e+01,9.715000e+00,8.000000e+00,7.868333e+00,6.435000e+00,5.965000e+00,5.666667e+00,5.000000e+00,4.830000e+00,4.260000e+00,3.000000e+00,2.468200e+00,1.871000e+00,9.545000e-01,1.000000e+00,5.900000e-01,5.000000e-01,8.075500e-01,2.500000e-01,1.666667e-01,0.000000e+00,2.500000e-01,2.500000e-01,0.000000e+00
75%,102543.250000,0.000000,46.754910,137.243782,1.000000,0.000000,2.133167e+04,3.260800e+04,2.680450e+04,2.799100e+04,2.772450e+04,2.774658e+04,1.929100e+04,3.474730e+04,2.430600e+04,1.950700e+04,1.016975e+04,1.422825e+04,1.176750e+04,9.567000e+03,8.600500e+03,1.123760e+04,6.860700e+03,4.403250e+03,4.462250e+03,5.094250e+03,1.356000e+02,1.250000e+02,1.090000e+02,1.117500e+02,1.162500e+02,1.285000e+02,1.390000e+02,1.350000e+02,1.380000e+02,1.520000e+02,1.900000e+02,1.390000e+02,1.668730e+02,1.700000e+02,1.722500e+02,2.360000e+02,2.100000e+02,1.864625e+02,2.117500e+02,2.105000e+02,2.294244e+02,1.900000e+02,1.420000e+02,1.351159e+02,1.420000e+02,1.375000e+02,1.462500e+02,1.250000e+02,1.150000e+02,1.158315e+02,1.189625e+02,1.060000e+02,1.010000e+02,1.020000e+02,1.007050e+02,9.500000e+01,9.163157e+01,6.927630e+01,6.600000e+01,3.578905e+01,1.960000e+01,1.369174e+01,9.126000e+00,8.842500e+00,1.000000e+01,7.750000e+00,6.000000e+00,3.000000e+00,1.948205e+00,2.000000e+00,0.000000e+00
max,500007.000000,1.000000,81.000000,180.000000,1.000000,1.000000,2.500000e+15,2.460000e+15,2.420000e+15,2.360000e+15,2.300000e+15,2.230000e+15,2.150000e+15,2.060000e+15,1.970000e+15,1.860000e+15,1.750000e+15,1.630000e+15,1.510000e+15,1.380000e+15,1.270000e+15,1.160000e+15,1.050000e+15,9.490000e+14,8.510000e+14,7.530000e+14,6.640000e+14,5.760000e+14,4.860000e+14,3.990000e+14,3.310000e+14,3.040000e+14,2.850000e+14,2.560000e+14,2.260000e+14,1.980000e+14,1.730000e+14,1.470000e+14,1.210000e+14,1.100000e+14,1.060000e+14,1.120000e+14,1.180000e+14,1.170000e+14,1.130000e+14,1.020000e+14,9.530000e+13,9.880000e+13,1.090000e+14,1.210000e+14,1.290000e+14,1.380000e+14,1.480000e+14,1.550000e+14,1.600000e+14,1.730000e+14,1.850000e+14,1.920000e+14,1.940000e+14,1.930000e+14,1.980000e+14,1.950000e+14,2.050000e+14,2.220000e+14,2.510000e+14,3.110000e+14,3.940000e+14,5.050000e+14,5.780000e+14,6.570000e+14,7.190000e+14,7.960000e+14,8.670000e+14,1.130000e+13,6.315041e+06,5.576649e+06,4.325386e+06

## 3. Data Cleaning

In [7]:
# Getting counts for each variable
lp.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32680 entries, 0 to 32679
Data columns (total 103 columns):
 #    Column             Non-Null Count  Dtype
---   ------             --------------  -----
 0    ID                 32680 non-null  int64
 1    Binomial           32680 non-null  object
 2    Replicate          32680 non-null  int64
 3    Citation           32680 non-null  object
 4    Class              32680 non-null  object
 5    Order              32680 non-null  object
 6    Family             32680 non-null  object
 7    Genus              32680 non-null  object
 8    Species            32680 non-null  object
 9    Subspecies         1229 non-null   object
 10   Authority          21970 non-null  object
 11   Common_name        32680 non-null  object
 12   Location           32680 non-null  object
 13   Country            32680 non-null  object
 14   All_countries      32656 non-null  object
 15   Region             32680 non-null  object
 16   IPBES_region       17627 non-null  object
 17   IPBES_subregion    17627 non-null  object
 18   Latitude           32672 non-null  float64
 19   Longitude          32672 non-null  float64
 20   Specific_location  32672 non-null  float64
 21   System             32680 non-null  object
 22   T_realm            9925 non-null   object
 23   T_biome            9562 non-null   object
 24   FW_realm           7702 non-null   object
 25   FW_biome           5681 non-null   object
 26   M_realm            15053 non-null  object
 27   M_ocean            15053 non-null  object
 28   M_biome            8688 non-null   object
 29   Migratory_fw_fish  32680 non-null  int64
 30   Units              32671 non-null  object
 31   Method             32672 non-null  object
 32   1950               258 non-null    float64
 33   1951               240 non-null    float64
 34   1952               281 non-null    float64
 35   1953               277 non-null    float64
 36   1954               294 non-null    float64
 37   1955               316 non-null    float64
 38   1956               365 non-null    float64
 39   1957               334 non-null    float64
 40   1958               380 non-null    float64
 41   1959               425 non-null    float64
 42   1960               598 non-null    float64
 43   1961               648 non-null    float64
 44   1962               660 non-null    float64
 45   1963               689 non-null    float64
 46   1964               748 non-null    float64
 47   1965               857 non-null    float64
 48   1966               872 non-null    float64
 49   1967               1036 non-null   float64
 50   1968               1066 non-null   float64
 51   1969               1116 non-null   float64
 52   1970               3457 non-null   float64
 53   1971               3332 non-null   float64
 54   1972               3494 non-null   float64
 55   1973               3890 non-null   float64
 56   1974               4180 non-null   float64
 57   1975               4471 non-null   float64
 58   1976               4449 non-null   float64
 59   1977               4740 non-null   float64
 60   1978               4985 non-null   float64
 61   1979               5125 non-null   float64
 62   1980               5529 non-null   float64
 63   1981               5937 non-null   float64
 64   1982               6014 non-null   float64
 65   1983               6385 non-null   float64
 66   1984               6748 non-null   float64
 67   1985               6964 non-null   float64
 68   1986               6959 non-null   float64
 69   1987               7434 non-null   float64
 70   1988               7298 non-null   float64
 71   1989               7509 non-null   float64
 72   1990               8114 non-null   float64
 73   1991               8201 non-null   float64
 74   1992               9109 non-null   float64
 75   1993               9551 non-null   float64
 76   1994               9682 non-null   float64
 77   1995               10151 non-null  float64
 78   1996               9600 non-null   float64
 79   1997               10598 non-null  float64
 80   1998               10540 non-null  float64
 81   1999               10163 non-null  float64
 82   2000               10868 non-null  float64
 83   2001               10450 non-null  float64
 84   2002               10650 non-null  float64
 85   2003               10358 non-null  float64
 86   2004               10286 non-null  float64
 87   2005               10553 non-null  float64
 88   2006               9867 non-null   float64
 89   2007               9569 non-null   float64
 90   2008               9810 non-null   float64
 91   2009               9895 non-null   float64
 92   2010               11106 non-null  float64
 93   2011               11564 non-null  float64
 94   2012               10749 non-null  float64
 95   2013               9776 non-null   float64
 96   2014               9822 non-null   float64
 97   2015               7008 non-null   float64
 98   2016               6518 non-null   float64
 99   2017               5400 non-null   float64
 100  2018               2428 non-null   float64
 101  2019               2159 non-null   float64
 102  2020               1139 non-null   float64
dtypes: float64(74), int64(3), object(26)
memory usage: 25.7+ MB

In [8]:
# Create a subset with only duplicates
lp_dups=lp[lp.duplicated()]

In [9]:
# Looking at duplicates
lp_dups.head()

Empty DataFrame
Columns: [ID, Binomial, Replicate, Citation, Class, Order, Family, Genus, Species, Subspecies, Authority, Common_name, Location, Country, All_countries, Region, IPBES_region, IPBES_subregion, Latitude, Longitude, Specific_location, System, T_realm, T_biome, FW_realm, FW_biome, M_realm, M_ocean, M_biome, Migratory_fw_fish, Units, Method, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, ...]
Index: []

### No duplicates to remove

In [10]:
# Looking at last 5 rows of data
lp.tail()

,ID,Binomial,Replicate,Citation,Class,Order,Family,Genus,Species,Subspecies,Authority,Common_name,Location,Country,All_countries,Region,IPBES_region,IPBES_subregion,Latitude,Longitude,Specific_location,System,T_realm,T_biome,FW_realm,FW_biome,M_realm,M_ocean,M_biome,Migratory_fw_fish,Units,Method,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
32675,500003,Platanista_minor,0,WWF (2018) River Dolphin Strategy 2018-2030,Mammalia,Cetacea,Platanistidae,Platanista,minor,NaN,"Owen, 1853",Indus blind dolphin / Indus River dolphin,Beas river and Harike barrage (India),India,India,Asia,Asia and the Pacific,South Asia,NaN,NaN,NaN,Freshwater,NaN,NaN,Indo-Malayan,Tropical and subtropical floodplain rivers and...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
32676,500004,Platanista_minor,0,"Chaudhry, A.A., Maan, A.M., Akbar, M., 1999. C...",Mammalia,Cetacea,Platanistidae,Platanista,minor,NaN,"Owen, 1853",Indus blind dolphin / Indus River dolphin,Taunsa Guddu subpopulation,Pakistan,Pakistan,Asia,Asia and the Pacific,South Asia,NaN,NaN,NaN,Freshwater,NaN,NaN,Indo-Malayan,Tropical and subtropical floodplain rivers and...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN,71.0,NaN,NaN,NaN,83.0,107.0,108.0,124.0,111.0,128.0,117.0,124.0,90.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32677,500005,Platanista_minor,0,"Chaudhry, A.A., Maan, A.M., Akbar, M., 1999. C...",Mammalia,Cetacea,Platanistidae,Platanista,minor,NaN,"Owen, 1853",Indus blind dolphin / Indus River dolphin,Chashma Taunsa subpopulation,Pakistan,Pakistan,Asia,Asia and the Pacific,South Asia,NaN,NaN,NaN,Freshwater,NaN,NaN,Indo-Malayan,Tropical and subtropical floodplain rivers and...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,20.0,35.0,49.0,51.0,34.0,38.0,43.0,39.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32678,500006,Platanista_minor,0,"Braulik, G. T., Z. I. Bhatti, T. Ehsan, B. Hus...",Mammalia,Cetacea,Platanistidae,Platanista,minor,NaN,"Owen, 1853",Indus blind dolphin / Indus River dolphin,Jinnah - Kotri barrage Indus River (entire pop...,Pakistan,Pakistan,Asia,Asia and the Pacific,South Asia,NaN,NaN,NaN,Freshwater,NaN,NaN,Indo-Malayan,Tropical and subtropical floodplain rivers and...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,NaN,NaN,NaN,1400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32679,500007,Platanista_gangetica,0,WWF (2018) River Dolphin Strategy 2018-2030,Mammalia,Cetacea,Platanistidae,Platanista,gangetica,gangetica,NaN,Ganges River dolphin,Ganges tributaries,India,India,Asia,Asia and the Pacific,South Asia,NaN,NaN,NaN,Freshwater,NaN,NaN,Indo-Malayan,Tropical and subtropical floodplain rivers and...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0,NaN,28.0,NaN,NaN,NaN

## 4. Data Wrangling

### Dropping columns not needed for analysis

In [11]:
lp_v2 = lp.drop(columns = ['Replicate', 'Citation', 'Order', 'Family', 'Genus', 'Species', 'Subspecies', 'Authority', 'Location', 'All_countries', 'IPBES_region', 'IPBES_subregion', 'Method'])

In [12]:
lp_v2.head()

,ID,Binomial,Class,Common_name,Country,Region,Latitude,Longitude,Specific_location,System,T_realm,T_biome,FW_realm,FW_biome,M_realm,M_ocean,M_biome,Migratory_fw_fish,Units,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Balearica_regulorum,Aves,Grey-crowned crane,Uganda,Africa,-0.07889,31.13306,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Acrocephalus_sechellensis,Aves,Seychelles warbler,Seychelles,Africa,-4.33333,55.66667,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.66667,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Total population number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.93333,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Falco_punctatus,Aves,Mauritius kestrel,Mauritius,Africa,-20.30000,57.58333,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of breeding pairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,2.0,4.0,4.0,7.0,7.0,7.0,9.0,8.0,9.0,13.0,14.0,22.0,26.0,40.0,52.0,58.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Renaming columns to better interpret

In [13]:
# Renaming Binomial to scientific_name
lp_v2.rename(columns = {'Binomial' : 'scientific_name'}, inplace = True)

In [14]:
# Renaming ID to id
lp_v2.rename(columns = {'ID' : 'id'}, inplace = True)

In [15]:
# Renaming Common_name to common_name
lp_v2.rename(columns = {'Common_name' : 'common_name'}, inplace = True)

In [16]:
# Renaming Country to country
lp_v2.rename(columns = {'Country' : 'country'}, inplace = True)

In [17]:
# Renaming Region to region
lp_v2.rename(columns = {'Region' : 'region'}, inplace = True)

In [18]:
# Renaming Latitude to latitude
lp_v2.rename(columns = {'Latitude' : 'latitude'}, inplace = True)

In [19]:
# Renaming Specific_location to specific_location
lp_v2.rename(columns = {'Specific_location' : 'specific_location'}, inplace = True)

In [20]:
# Renaming System to system
lp_v2.rename(columns = {'System' : 'system'}, inplace = True)

In [21]:
# Renaming T_realm to terrestrial_realm
lp_v2.rename(columns = {'T_realm' : 'terrestrial_realm'}, inplace = True)

In [22]:
# Renaming T_biome to terrestrial_biome
lp_v2.rename(columns = {'T_biome' : 'terrestrial_biome'}, inplace = True)

In [23]:
# Renaming FW_realm to freshwater_realm
lp_v2.rename(columns = {'FW_realm' : 'freshwater_realm'}, inplace = True)

In [24]:
# Renaming M_realm to marine_realm
lp_v2.rename(columns = {'M_realm' : 'marine_realm'}, inplace = True)

In [25]:
# Renaming M_biome to marine_biome
lp_v2.rename(columns = {'M_biome' : 'marine_biome'}, inplace = True)

In [26]:
# Renaming Migratory_fw_fish to migratory_freshwater_fish
lp_v2.rename(columns = {'Migratory_fw_fish' : 'migratory_freshwater_fish'}, inplace = True)

In [27]:
# Renaming Units to units_used_for_count
lp_v2.rename(columns = {'Units' : 'units_used_for_count'}, inplace = True)

In [28]:
# Renaming Class to class
lp_v2.rename(columns = {'Class' : 'class'}, inplace = True)

In [29]:
# Renaming M_ocean to marine_ocean
lp_v2.rename(columns = {'M_ocean' : 'marine_ocean'}, inplace = True)

In [30]:
# Renaming Longitude to longitude
lp_v2.rename(columns = {'Longitude' : 'longitude'}, inplace = True)

In [31]:
# Renaming FW_biome to freshwater_biome
lp_v2.rename(columns = {'FW_biome' : 'freshwater_biome'}, inplace = True)

In [32]:
# Checking if columns renamed properly
lp_v2.head()

,id,scientific_name,class,common_name,country,region,latitude,longitude,specific_location,system,terrestrial_realm,terrestrial_biome,freshwater_realm,freshwater_biome,marine_realm,marine_ocean,marine_biome,migratory_freshwater_fish,units_used_for_count,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Balearica_regulorum,Aves,Grey-crowned crane,Uganda,Africa,-0.07889,31.13306,0.0,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",NaN,NaN,NaN,NaN,NaN,0,Mean number of counts per route,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Acrocephalus_sechellensis,Aves,Seychelles warbler,Seychelles,Africa,-4.33333,55.66667,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.66667,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Total population number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.93333,1.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Falco_punctatus,Aves,Mauritius kestrel,Mauritius,Africa,-20.30000,57.58333,0.0,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,NaN,NaN,NaN,NaN,NaN,0,Number of breeding pairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,2.0,4.0,4.0,7.0,7.0,7.0,9.0,8.0,9.0,13.0,14.0,22.0,26.0,40.0,52.0,58.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# Checking data types
lp_v2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32680 entries, 0 to 32679
Data columns (total 90 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         32680 non-null  int64
 1   scientific_name            32680 non-null  object
 2   class                      32680 non-null  object
 3   common_name                32680 non-null  object
 4   country                    32680 non-null  object
 5   region                     32680 non-null  object
 6   latitude                   32672 non-null  float64
 7   longitude                  32672 non-null  float64
 8   specific_location          32672 non-null  float64
 9   system                     32680 non-null  object
 10  terrestrial_realm          9925 non-null   object
 11  terrestrial_biome          9562 non-null   object
 12  freshwater_realm           7702 non-null   object
 13  freshwater_biome           5681 non-null   object
 14  marine_realm               15053 non-null  object
 15  marine_ocean               15053 non-null  object
 16  marine_biome               8688 non-null   object
 17  migratory_freshwater_fish  32680 non-null  int64
 18  units_used_for_count       32671 non-null  object
 19  1950                       258 non-null    float64
 20  1951                       240 non-null    float64
 21  1952                       281 non-null    float64
 22  1953                       277 non-null    float64
 23  1954                       294 non-null    float64
 24  1955                       316 non-null    float64
 25  1956                       365 non-null    float64
 26  1957                       334 non-null    float64
 27  1958                       380 non-null    float64
 28  1959                       425 non-null    float64
 29  1960                       598 non-null    float64
 30  1961                       648 non-null    float64
 31  1962                       660 non-null    float64
 32  1963                       689 non-null    float64
 33  1964                       748 non-null    float64
 34  1965                       857 non-null    float64
 35  1966                       872 non-null    float64
 36  1967                       1036 non-null   float64
 37  1968                       1066 non-null   float64
 38  1969                       1116 non-null   float64
 39  1970                       3457 non-null   float64
 40  1971                       3332 non-null   float64
 41  1972                       3494 non-null   float64
 42  1973                       3890 non-null   float64
 43  1974                       4180 non-null   float64
 44  1975                       4471 non-null   float64
 45  1976                       4449 non-null   float64
 46  1977                       4740 non-null   float64
 47  1978                       4985 non-null   float64
 48  1979                       5125 non-null   float64
 49  1980                       5529 non-null   float64
 50  1981                       5937 non-null   float64
 51  1982                       6014 non-null   float64
 52  1983                       6385 non-null   float64
 53  1984                       6748 non-null   float64
 54  1985                       6964 non-null   float64
 55  1986                       6959 non-null   float64
 56  1987                       7434 non-null   float64
 57  1988                       7298 non-null   float64
 58  1989                       7509 non-null   float64
 59  1990                       8114 non-null   float64
 60  1991                       8201 non-null   float64
 61  1992                       9109 non-null   float64
 62  1993                       9551 non-null   float64
 63  1994                       9682 non-null   float64
 64  1995                       10151 non-null  float64
 65  1996                       9600 non-null   float64
 66  1997                       10598 non-null  float64
 67  1998                       10540 non-null  float64
 68  1999                       10163 non-null  float64
 69  2000                       10868 non-null  float64
 70  2001                       10450 non-null  float64
 71  2002                       10650 non-null  float64
 72  2003                       10358 non-null  float64
 73  2004                       10286 non-null  float64
 74  2005                       10553 non-null  float64
 75  2006                       9867 non-null   float64
 76  2007                       9569 non-null   float64
 77  2008                       9810 non-null   float64
 78  2009                       9895 non-null   float64
 79  2010                       11106 non-null  float64
 80  2011                       11564 non-null  float64
 81  2012                       10749 non-null  float64
 82  2013                       9776 non-null   float64
 83  2014                       9822 non-null   float64
 84  2015                       7008 non-null   float64
 85  2016                       6518 non-null   float64
 86  2017                       5400 non-null   float64
 87  2018                       2428 non-null   float64
 88  2019                       2159 non-null   float64
 89  2020                       1139 non-null   float64
dtypes: float64(74), int64(2), object(14)
memory usage: 22.4+ MB

In [34]:
# Checking for mixed data types
for col in lp_v2.columns:
    weird = (lp_v2[[col]].applymap(type) != lp_v2[[col]].iloc[0].apply(type)).any(axis=1)
    if len(lp_v2[weird]) > 0:
        print(col)

terrestrial_realm
terrestrial_biome
freshwater_realm
freshwater_biome
marine_realm
marine_ocean
marine_biome
units_used_for_count

### Fixing all mixed data types

In [35]:
lp_v2['terrestrial_realm'] = lp_v2['terrestrial_realm'].astype('str')

In [36]:
lp_v2['terrestrial_biome'] = lp_v2['terrestrial_biome'].astype('str')

In [37]:
lp_v2['freshwater_realm'] = lp_v2['freshwater_realm'].astype('str')

In [38]:
lp_v2['freshwater_biome'] = lp_v2['freshwater_biome'].astype('str')

In [39]:
lp_v2['marine_realm'] = lp_v2['marine_realm'].astype('str')

In [40]:
lp_v2['marine_ocean'] = lp_v2['marine_ocean'].astype('str')

In [41]:
lp_v2['marine_biome'] = lp_v2['marine_biome'].astype('str')

In [42]:
lp_v2['units_used_for_count'] = lp_v2['units_used_for_count'].astype('str')

In [43]:
# Checking to make sure caught all mixed types
for col in lp_v2.columns:
    weird = (lp_v2[[col]].applymap(type) != lp_v2[[col]].iloc[0].apply(type)).any(axis=1)
    if len(lp_v2[weird]) > 0:
        print(col)

### Changing data types to appropriate ones

In [44]:
lp_v2['id'] = lp_v2 ['id'].astype('str')

In [45]:
lp_v2['specific_location'] = lp_v2 ['specific_location'].astype('bool')

In [46]:
lp_v2['migratory_freshwater_fish'] = lp_v2 ['migratory_freshwater_fish'].astype('bool')

In [47]:
# Checking data types again
lp_v2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32680 entries, 0 to 32679
Data columns (total 90 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         32680 non-null  object
 1   scientific_name            32680 non-null  object
 2   class                      32680 non-null  object
 3   common_name                32680 non-null  object
 4   country                    32680 non-null  object
 5   region                     32680 non-null  object
 6   latitude                   32672 non-null  float64
 7   longitude                  32672 non-null  float64
 8   specific_location          32680 non-null  bool
 9   system                     32680 non-null  object
 10  terrestrial_realm          32680 non-null  object
 11  terrestrial_biome          32680 non-null  object
 12  freshwater_realm           32680 non-null  object
 13  freshwater_biome           32680 non-null  object
 14  marine_realm               32680 non-null  object
 15  marine_ocean               32680 non-null  object
 16  marine_biome               32680 non-null  object
 17  migratory_freshwater_fish  32680 non-null  bool
 18  units_used_for_count       32680 non-null  object
 19  1950                       258 non-null    float64
 20  1951                       240 non-null    float64
 21  1952                       281 non-null    float64
 22  1953                       277 non-null    float64
 23  1954                       294 non-null    float64
 24  1955                       316 non-null    float64
 25  1956                       365 non-null    float64
 26  1957                       334 non-null    float64
 27  1958                       380 non-null    float64
 28  1959                       425 non-null    float64
 29  1960                       598 non-null    float64
 30  1961                       648 non-null    float64
 31  1962                       660 non-null    float64
 32  1963                       689 non-null    float64
 33  1964                       748 non-null    float64
 34  1965                       857 non-null    float64
 35  1966                       872 non-null    float64
 36  1967                       1036 non-null   float64
 37  1968                       1066 non-null   float64
 38  1969                       1116 non-null   float64
 39  1970                       3457 non-null   float64
 40  1971                       3332 non-null   float64
 41  1972                       3494 non-null   float64
 42  1973                       3890 non-null   float64
 43  1974                       4180 non-null   float64
 44  1975                       4471 non-null   float64
 45  1976                       4449 non-null   float64
 46  1977                       4740 non-null   float64
 47  1978                       4985 non-null   float64
 48  1979                       5125 non-null   float64
 49  1980                       5529 non-null   float64
 50  1981                       5937 non-null   float64
 51  1982                       6014 non-null   float64
 52  1983                       6385 non-null   float64
 53  1984                       6748 non-null   float64
 54  1985                       6964 non-null   float64
 55  1986                       6959 non-null   float64
 56  1987                       7434 non-null   float64
 57  1988                       7298 non-null   float64
 58  1989                       7509 non-null   float64
 59  1990                       8114 non-null   float64
 60  1991                       8201 non-null   float64
 61  1992                       9109 non-null   float64
 62  1993                       9551 non-null   float64
 63  1994                       9682 non-null   float64
 64  1995                       10151 non-null  float64
 65  1996                       9600 non-null   float64
 66  1997                       10598 non-null  float64
 67  1998                       10540 non-null  float64
 68  1999                       10163 non-null  float64
 69  2000                       10868 non-null  float64
 70  2001                       10450 non-null  float64
 71  2002                       10650 non-null  float64
 72  2003                       10358 non-null  float64
 73  2004                       10286 non-null  float64
 74  2005                       10553 non-null  float64
 75  2006                       9867 non-null   float64
 76  2007                       9569 non-null   float64
 77  2008                       9810 non-null   float64
 78  2009                       9895 non-null   float64
 79  2010                       11106 non-null  float64
 80  2011                       11564 non-null  float64
 81  2012                       10749 non-null  float64
 82  2013                       9776 non-null   float64
 83  2014                       9822 non-null   float64
 84  2015                       7008 non-null   float64
 85  2016                       6518 non-null   float64
 86  2017                       5400 non-null   float64
 87  2018                       2428 non-null   float64
 88  2019                       2159 non-null   float64
 89  2020                       1139 non-null   float64
dtypes: bool(2), float64(73), object(15)
memory usage: 22.0+ MB

## 5. Creating a Table with Only Birds

In [48]:
#Creating a table with only data on birds
birds = lp_v2.loc[(lp_v2['class'] == 'Aves')]

In [49]:
#Checking if done correctly
birds.head()

,id,scientific_name,class,common_name,country,region,latitude,longitude,specific_location,system,terrestrial_realm,terrestrial_biome,freshwater_realm,freshwater_biome,marine_realm,marine_ocean,marine_biome,migratory_freshwater_fish,units_used_for_count,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Balearica_regulorum,Aves,Grey-crowned crane,Uganda,Africa,-0.07889,31.13306,False,Terrestrial,Afrotropical,"Tropical and subtropical grasslands, savannas ...",nan,nan,nan,nan,nan,False,Mean number of counts per route,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Acrocephalus_sechellensis,Aves,Seychelles warbler,Seychelles,Africa,-4.33333,55.66667,True,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,nan,nan,nan,nan,nan,False,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.66667,False,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,nan,nan,nan,nan,nan,False,Total population number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,-4.58333,55.93333,True,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,nan,nan,nan,nan,nan,False,Number of individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Falco_punctatus,Aves,Mauritius kestrel,Mauritius,Africa,-20.30000,57.58333,False,Terrestrial,Afrotropical,Tropical and subtropical moist broadleaf forests,nan,nan,nan,nan,nan,False,Number of breeding pairs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,2.0,4.0,4.0,7.0,7.0,7.0,9.0,8.0,9.0,13.0,14.0,22.0,26.0,40.0,52.0,58.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
#Checking if done correctly
birds.tail()

,id,scientific_name,class,common_name,country,region,latitude,longitude,specific_location,system,terrestrial_realm,terrestrial_biome,freshwater_realm,freshwater_biome,marine_realm,marine_ocean,marine_biome,migratory_freshwater_fish,units_used_for_count,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
30699,200634,Nannopterum_brasilianus,Aves,Neotropical cormorant,Brazil,Latin America and Caribbean,-22.675712,-43.086199,False,Marine,nan,nan,nan,nan,Atlantic tropical and subtropical,South Atlantic Ocean,nan,False,Mean abundance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.3,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30700,200635,Nannopterum_brasilianus,Aves,Neotropical cormorant,Brazil,Latin America and Caribbean,-22.694635,-43.063937,False,Marine,nan,nan,nan,nan,Atlantic tropical and subtropical,South Atlantic Ocean,nan,False,Mean abundance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,474.9,273.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30701,200636,Nannopterum_brasilianus,Aves,Neotropical cormorant,Brazil,Latin America and Caribbean,-22.694635,-43.063937,False,Marine,nan,nan,nan,nan,Atlantic tropical and subtropical,South Atlantic Ocean,nan,False,Mean abundance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.6,166.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30703,200638,Tyrannus_savana,Aves,Fork-tailed flycatcher,Brazil,Latin America and Caribbean,-15.550000,-47.700000,False,Terrestrial,Neotropical,nan,nan,nan,nan,nan,nan,False,nests,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,18.0,10.0,15.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30704,200639,Sula_leucogaster,Aves,Brown booby,Brazil,Latin America and Caribbean,-27.850000,-48.433333,True,Marine,nan,nan,nan,nan,Atlantic tropical and subtropical,South Atlantic Ocean,nan,False,Individuals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6749.0,4401.0,4311.0,6010.0,4876.0,5770.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 7. Look at units_used_for_count more closely

In [51]:
# See all unique values for units_used_for_count
birds['units_used_for_count'].unique()

array(['Mean number of counts per route', 'Individuals',
       'Total population number', 'Number of individuals',
       'Number of breeding pairs', 'Mean number of individuals',
       'Number of nests', 'Breeding pairs',
       'Breeding pairs - sub-population', 'Population estimate',
       'Active nests', 'Number of nesting pairs',
       'Number of indidviduals', 'Number of pre-breeding individuals',
       'Index', 'Number of skylarks per 100000 birds ringed',
       'Population index', 'Total spring population count',
       'Number of tree pipits per 100000 birds ringed', 'pairs',
       'Yearly maximum number of individuals', 'Index of abundance',
       'index based on bird-days', 'Unknown', 'Annual population index',
       'Number of breeding birds', 'Log number of nestlings',
       'Density (pairs/100km squares)', 'Number of pairs',
       'Number of territories per km2', 'Number of calling males',
       'Number of males per square km', 'Individuals per 1000km',
       'Number of nightingales per 100000 birds ringed',
       'Number of tracks per 10 km of route',
       'Number of flycatchers per 100000 birds ringed',
       'Number of willow warblers per 100000 birds ringed',
       'Number of nests per 100 boxes',
       'Number of blackcaps per 100000 birds ringed',
       'Number of whitethroats per 100000 birds ringed',
       'Adults per 100 ha',
       'Number of winetr wrens per 100000 birds ringed',
       'Number of redwings per 100000 birds ringed',
       'Number of blackbirds per 100000 birds ringed', 'Number of birds',
       'Unknown (assume individuals)', 'Total count',
       "Breeding population estimate 1,000's of pairs",
       'Individuals (thousands)', 'Annual index of population change',
       'Peak winter numbers', 'Number of birds present on December 31st',
       'Peak winter counts', 'Estimated numbers', 'number of pairs',
       'Number of Pairs', 'Number of induviduals',
       'Individuals per 100000 birds ringed', 'Index approximation',
       'index approximation', 'Birds counted',
       'Annual population index in Sweden from 1975 to 1998', 'Pairs',
       'annual population index', 'Number of booming males',
       'Number of booming bitterns recorded',
       'Numbers of Booming Bitterns recorded',
       'Numbers of booming bitterns recorded', 'Number of males',
       'Population size', 'Number of occupied nests',
       'Population index (1981=1.0)', 'breeding population index',
       'breeding population index (from graphic)',
       'breeding pairs (from graphic)',
       'Peak winter numbers (from graphic)',
       'breeding pairs (from graph)', 'Unknown (probably breeding pairs)',
       'Winter maximum individuals (from graphic)',
       'Wintering individuals spring (from graphic)',
       'index based on bird-days                          ',
       'estimated breeding pairs (from graphic)',
       'breeding population individuals', 'breeding pairs from graph',
       'Individuals mid winter',
       'Breeding population index (from graphic)', 'indiv',
       'breeding pairs; subset of Wadden Sea',
       'pairs                                             ',
       'Index 1973=100', 'estimated breeding pairs',
       'observed broods (from graphic)', 'Nesting pairs',
       'breeding pairs (coast ony); subset of Wadden Sea',
       'Active nest sites', 'Number of active nest sites',
       'estimated breeding females (from graphic)', 'Numbers wintering',
       'Number of adult penguins', 'Number of territories',
       'breedings pairs (from graphic)', 'breeding pairs at six colonies',
       'breeding individuals (from graphic)', 'individuals;',
       'Number of active nests', 'No. of nests', 'Individual birds',
       'estimates for breeding pairs', 'Artificial percentage increase',
       'Number of adults', 'Calculated index',
       'Maximum number observed during week 15-41',
       'Maximum observed during the spring migration ',
       'Maximum observed during spring/autumn', 'Maximum number',
       'Number of observed birds',
       'Number of hatching couples in the surveillance area',
       'Number of hatching couples', 'Number migrating birds',
       'Number seen during autumn migration',
       'Percentage change in relation to mean for all years',
       'Number of individuals within a defined area',
       'Number caugt in net ', 'Estimated number, relative',
       'Population in % of mean', 'Population in % of the mean', 'Number',
       'Index ',
       'Indeksverdi (rel. Antall delt p?Ð gjennomsnitt for tidsperioden)',
       'Estimate', 'Number of singing males',
       'Estimates of number of males',
       'Number of offspring per territory', 'Female density (number/km2)',
       'Number /huntingday', 'Number caught in net ', 'Number shot',
       'Max number seen during spring migration',
       'Annual index of abundance', 'Number of adults per 10ha',
       'Number of singing males detected', 'Breeding females',
       'Individuals captured', 'Total number of individuals',
       'Number of individuals per 10 ha',
       'Number of individuals seen per year',
       'Number of adults per 10 ha', 'Number of adults per 10 ha.',
       'Mean no of doves seen per route', 'Total nests',
       'Mean number of individuals per route',
       'Mean number of individuals per CBC party-hour',
       'Estimated population size', 'Mean density (#/ha)', 'Indidviduals',
       'Number of territorial pairs',
       'Observed number of successful pairs', 'Adults',
       'Calculated total during herring spawning',
       'Number of individuals per 200  Km', 'Total paired females',
       'Occupied nests', 'Winter roost counts',
       'Winter roost individuals', 'number of individuals',
       'number of breeding pairs', 'number of territories',
       'number of chicks', 'Active Nests', 'Breeding Pairs',
       'Number of breeding females', 'Total number/km??',
       'Number of territorial females', 'Total numbers',
       'number of booming males', 'breeding pairs',
       'Maximum number of nesting pairs',
       'Maximum number of breeding pairs', 'Maximum number of pairs',
       'Mean density',
       'Population indicies expressing changes in no of b reeding populations calculated as a percentage of the base year pop size.',
       'Number of Active Nests', 'Number of Breeding Pairs',
       'no. of individuals', 'number of adults',
       'Corrected density no. km-2', 'Abundance',
       'Captures per 1000 net hours', 'Territories of singing males',
       'Nests per 100 nest boxes', 'Individuals x 10^6',
       'Index, 1973 = 100', 'Individuals per 1000ha',
       'Individuals per km2', 'Estimate - entire population',
       'Nesting Pairs', 'Male territories or breeding pairs',
       'Breeding pairs 40ha^-1', 'Average number of individuals',
       'Breeding pairs 10ha^-1', 'Breeding individuals', 'Breeding males',
       'Cocks per km??', 'Hens per km', 'Index of territories/Km2',
       'Pairs per 10 hectares', 'Winter index',
       'Index (mean daily hunting bag)',
       'Estimate - entire population (August)', 'no of territorial pairs',
       'mean density', 'mean desnity', 'Cpatures per 1000 net hours',
       'Caotures per 1000 net hours', 'Mean absolute numbers',
       'Nests/territories', 'number on individuals',
       'Minimum population size',
       'no. of individuals (normalised relative to 1980-2003 average)',
       'Dipper numbers per 8.5km', 'Numbers sighted per hour',
       'Number sighted per hour', 'individuals',
       'Observed maximum no. of vultures', 'Individuals/km2',
       'Log e numbers', 'Number of occupied nesting burrows',
       'Occupied territories', 'counts of birds', 'Counts of birds',
       'sightings per day',
       'breeding pairs or number of overwintering individuals',
       'Adult individuals > 1 year old', 'Avr. Number Individuals',
       'Average number of individuals per survey', 'Nests',
       'Singing males', 'Calling males',
       'Average no. of individuals per survey',
       'Averge no. of individuals per survey',
       'Average no. of individuals',
       'Number of individuals per 100 hours.',
       'Averge number of individuals', 'Average number of individualsf',
       'Counts of individuals', 'Number of breeding sooty terns',
       'Number of pairs/10 sq. km', 'Number of pairs/sq. km',
       'Number of (breeding) pairs', 'Numver of pairs/sq. km',
       'No. nests', 'No. of breeding pairs',
       'Average individuals per 100m', 'number of nests/km2',
       'No. breeding pairs', 'Pairs of birds',
       'Occupied burrows-% change from 1st count.',
       'no. birds-% change from 1st count.',
       'Number of gannet nest sites', 'Annual mean number',
       'Number of Individuals', 'Number of Nests', 'No of nests',
       'Number of wintering eagles', 'Number of burrows', 'Density',
       'Number of wintering individuals', 'Mean number of nests',
       'Mean number of flamingos', 'Population Index',
       'Number fo breeding pairs', 'Curlew abundance per km',
       'Lapwing abundance per km', 'Golden plover per km',
       'Nest density (number of nests per 100 km2)',
       'Meadow pipits per km', 'Skylark abundance per km',
       'Population count', 'Estimated numbers in thousands',
       'No. birds calling', 'No. Parrots heard calling per site visit',
       'Minimum numbers', 'No. nests with pairs',
       'Numbers (in thousands)', 'Density birds/km', 'Total number',
       'Mean monthly count', 'No. territorial adults',
       'Thousands of pairs', 'Mean monthly counts', 'Mean numbers',
       'Reporting rate (the % of surveys during which the species was recorded)',
       'Reporting rate (the % of surveys during which the species was recorded).',
       'Contacts per hour', 'Mean number of individuals per km2',
       'The box woodland biome centred on the Lachlan River near Cowra, New South Wales',
       'Average number of birds per survey',
       'Density (adults per 100 ha)', 'Average number per survey',
       'Avergae number per survey', 'Count of birds', 'February count',
       'Mean monthly number of individuals', 'Individuals per 100km',
       'Estimated number of birds', 'Number of snipe',
       'No. of pigeons (1000s)', 'Emus per sq.km',
       'Estimated number of burrows', 'Estimated number of nests',
       'Change in numbers, expressed as percentages of initial counts',
       'Number of breeding pairs on eggs', 'Hooded plover numbers',
       'Hooded plover numbers.', 'Percentage of adult males',
       'Average number of swift parrots per survey per season',
       '% cells occupied by mallee emu-wrens', 'Known number of birds',
       'Number of brds', 'Estimated numbers of pairs',
       'Estimated number of pairs', 'Adults moulting (thousands)',
       'Estimated breeding population', 'Number of gulls',
       'Regional abundance (birds/5,000 hours)',
       'Number of pairs breeding in Wales',
       'Number of swift parrots recorded', 'Counts of penguins',
       'Mean number of birds per survey', 'Nest count',
       'Density (no. burrows per metre)',
       'Woodlark density (territories haÈÃ¶1)',
       'number of anatids counted', 'Density (birds/km2)', 'Nest index',
       'Population index (Individuals per km2)',
       'Breeding density (number of occupied sites per kilometer of coastline)',
       'Individual counts', 'Individual', 'Individual Count',
       'Estimated Individual Densities (number of individuals per km2)',
       'Pairs per km??', 'Adult birds per section per sampling night',
       'Number of nests/chicks', "max nest count (1000's)",
       'Number of penguins incubating eggs', 'No. Of occupied nests',
       'pairs (thousands)', 'number of penguins',
       'breeding pairs (x1000)', 'number of incubating adults',
       'occupied nests (taken to be equivalent to breeding pairs)',
       'number of nests', '1000 penguins', '1000 pengins',
       '1000 Breeding pairs', 'breeding pairs, percentange change',
       'Breeding pairs, percentage change',
       'breeding pairs, percentage change',
       'number of chicks, one per adult', 'number of chicks <1 yr old',
       'Number of penguins', 'number of incubating birds',
       'Total Nests (breeding pairs)', 'Nest sites', 'nest box surveys',
       'Birds per km of transect', 'Maximum numbers of individuals',
       'Number of wintering cranes', 'Breeding bird index',
       'Number of birds observed', 'Territorial pairs',
       'Number of occupied territories', 'Number of pheasants',
       'Annual autumn peak numbers', 'Annual number of active nests',
       'Individuals per 100 km', 'Estimated number of breeding pairs',
       'Minimum number of individuals', 'Number of warblers',
       'Total number of birds', 'Minimum number of pairs',
       'No. of Quetzal sightings', 'Mean number of pairs',
       'No. of incubating pairs', 'Number of known breeding pairs',
       'number of eagles', 'number of breeding territories',
       'Number of adult condors', 'Breeding population size',
       'Number of turnstones', 'direct counts', 'index',
       'Numbers of individuals 10^3', 'Numbers of breeders',
       'Time period indices', 'Population',
       'Confirmed breeding territories', 'Adults (mature plumage)',
       'Estimated breeding pairs', 'Counts', 'Mid-January counts',
       'mid January census counts', 'mid-January counts', 'Inidivduals',
       'Apparently Occupied Nests (AON)',
       'Apparently Occupied Sites/Nests (AOS/N)',
       'Apparently Occupied Sites (AOS)',
       'Abundance Index (derived from Apparently Ocupied Nest/Sites counts)',
       'Nest counts', 'Breeding numbers',
       'Nests with eggs (breeding pairs)',
       'Index of abundance where 1986 is taken as 100%', 'No. of pairs',
       'TRIM index', 'Number of individual', 'No. of individuals',
       'No. of individuals seen', 'Number of Breeding pairs',
       'Occupied Nests', 'number of nests observed', 'birds/km\x022',
       'birds/km2', 'Site occupancy (% occupied)',
       'Estimated number of individuals',
       'Independent camera trap events per 100 trap nights',
       'Relative abundance', 'Maximum number of individuals',
       'Index of annual rate of population change',
       'Mean number of individuals per kilometre',
       'Annual total individuals',
       'Estimated number of wintering individuals',
       'Index of annual totals based on 5-year running means',
       'Number of apparently occupied territories',
       'Number of breeding individuals', 'Mean density (birds/km2)',
       'Number of individuals per 10 km', 'Males per km2',
       'Annual total number of individuals', 'Mean population estimate',
       'Maximum number of individuals during summer count',
       'Index (% individuals)', 'Maximum monthly number of individuals',
       'Five-year running means of an index of annual totals',
       'Total number of individuals captured', 'Numbers of indviduals',
       'Numbers of birds', 'Annual average number of individuals',
       'Peak number of individuals', 'Number of indviduals',
       'Number of individuals per hectare',
       'Mid-winter index (number of individuals)',
       'Number of individual ivory gulls', 'Captures/net-hour',
       'Total number of individuals across sampling sites ',
       'Maximum summer count', 'Annual peak number of individuals',
       'Maximum number of individuals in winter', 'Number of indivdiuals',
       'Peak number of wintering individuals',
       'Number of territorial pairs per 100ha', 'Pairs per 100km',
       'Pairs per 100km2', 'Pairs per 24km2',
       'Number of pairs per transect',
       'Maximum number of individuals per season',
       'Population estimate (number of birds)',
       'Number of individuals per day', 'Peak spring counts',
       'Midwinter index (millions)', 'Abundance index',
       'Average numbers of individuals',
       'Average annual number of individuals', 'Numbers of individuals',
       'Count (total bird-days)', 'Number of individuals ', 'Index (%)',
       'WeBS index', 'Estimated number of inidviduals', 'nests/100 ha',
       'Total estimated number of individuals',
       'Number of individuals in colony', 'Mean number of males per lek',
       'Number of males per lek', 'Number of individuals per km2',
       'Encounter rate',
       'Number of individuals within 100m of transect per km',
       'Singing males per route', 'Singing-males per route',
       'Number of individuals per route', 'ln (mean plot count totals)',
       'Number of individuals observed', 'Number of resident pairs',
       'Number of individuals/km2', 'Monitoring count index',
       'Monitoring Count Index', 'Nests per 100km2', 'Annual Index',
       'Annual index', 'Population (pairs +1)',
       'Mean number of individuals per count circle',
       'Number of adult individuals', 'Number of adults per 100 ha',
       'Number of territorial pairs per 100 km2',
       'Number of occupied breeding areas',
       'Number of individuals detected per surveyed km',
       'Estimated number of nesting individuals', 'Total nest count',
       'Estimated mean daily count', 'Number of breeding pairs (x1000)',
       'Individuals per Km2', 'Maximum number of birds',
       'Estimated total number of nests',
       'Maximum number of individuals counted per observer',
       'Mean number of nests per tree',
       'Breeding pair per search effort, where search effort is quantified as total number of days teams looked for birds',
       'Count index over a 10km2 area', 'Number of birds per point',
       'Number of independent events per 100 trap-days',
       'Relative abundance (Number of independent events per 100 trap-days)',
       'Kaka density/ha', 'Birds/10km', 'Average relative abundance',
       'Relative abundance (individuals/km travelled)',
       'Mean number of encounters', 'Captures per 1000 net hours\r',
       'Number of winter residents captured',
       'Average relative abundance\r',
       'Mean number of individuals per point',
       'Average relative abundance\r\n', 'Occupancy', 'Index\r',
       'Number of females/km2', 'Birds per km2',
       'Number of individuals counted per station',
       'Density (birds ha-1)', 'Number of individuals/100ha',
       'Number of individuals captured', 'High count of active nests',
       'Number of birds observed per 100km',
       'Breeding great-horned owls (no./100km2)', 'Birds ha-1',
       'Density (birds/ha)', 'Birds/ha', 'Index values',
       'Mean number of active nests', 'Number of individuals per point',
       'Estimated number of breeding individuals',
       'Mean number of singing males per point-count',
       'Observed Pacific Coast breeding bird population size',
       'Birds/100km2', 'Roost count', 'Annual Mean Number',
       'Pairs per 10 ha', 'Number of territorial pairs per hectare',
       'Number of breeding pairs (incubator counts)', 'individual birds',
       'Density (individuals per ha)',
       'Number of breeding or singing males',
       'Average number of breeding pairs',
       'Mean annual number of individuals',
       'Number of apparently occupied nests', 'Number of  pairs',
       'Number of territorial males', 'number of indivaduals',
       'mean nests/ha', 'nesting pairs', 'individual breeding adults',
       'number of occupied territories',
       'number of AON (apparently occupied nests)',
       'logged mean colony counts', 'population size index',
       'number of active nests', 'Estimates of numbers of breeding pairs',
       'Maximum count', 'Number of nest sites', 'Abundance (ind/km)',
       'estimated number of singing males \r\n',
       'estimated number of birds/individuals \r\n',
       'Transect and trail survey\r\n', 'Density per km2\r\n',
       'Total sightings (visual and tracks)', 'Number of nest mounds',

## 6. Save Data

In [52]:
#Exporting the data
birds.to_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Prepared Data/birds_v1.csv')

### There is a lot of variation in the units used to collect the data.  I examined more closely in Excel and decided to use individuals as the unit to compare.  I deleted all records that used density or an unknown method.  If the birds were counted in pairs, I double the counts.  If they were counted in thousands or pairs, I multiplied the number by 2,000 for each year.  If the unit was a percentage, I removed those records.  In total, 7% of the data was removed after cleaning up the units.