### Note: In this notebook, I am merging the taxonomy data back into my clean birds dataframe.

# Table of Contents
## 1. Import Libraries & Data
## 2. Adding back in columns on taxonomy (order, family, genus, species) by merging two tables
## 3. Save Data

## 1. Import Libraries & Data

In [23]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [24]:
#Import Data
birds_clean = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Prepared Data/birds_v2.csv', index_col = False)

In [25]:
#Import Data
birds_tax = pd.read_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Prepared Data/taxonomy.csv', index_col = False)

In [26]:
#Show all columns
pd.set_option('display.max_columns', None)

In [27]:
#Looking at where to join
birds_clean.head()

,id,scientific_name,class,common_name,country,region,system,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,1,Balearica_regulorum,Aves,Grey-crowned crane,Uganda,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Acrocephalus_sechellensis,Aves,Seychelles warbler,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Falco_punctatus,Aves,Mauritius kestrel,Mauritius,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,4.0,8.0,2.0,2.0,4.0,4.0,8.0,8.0,14.0,14.0,14.0,18.0,16.0,18.0,26.0,28.0,44.0,52.0,80.0,104.0,116.0,122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#Checking number of rows & columns
birds_clean.shape

(14714, 78)

In [29]:
#Looking at where to join
birds_tax.head()

,Unnamed: 0,id,scientific_name,class,order,family,genus,species,common_name,country,region,system
0,0,1,Balearica_regulorum,Aves,Gruiformes,Gruidae,Balearica,regulorum,Grey-crowned crane,Uganda,Africa,Terrestrial
1,1,2,Acrocephalus_sechellensis,Aves,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,Seychelles warbler,Seychelles,Africa,Terrestrial
2,2,3,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
3,3,4,Copsychus_sechellarum,Aves,Passeriformes,Muscicapidae,Copsychus,sechellarum,Seychelles magpie-robin,Seychelles,Africa,Terrestrial
4,4,5,Falco_punctatus,Aves,Falconiformes,Falconidae,Falco,punctatus,Mauritius kestrel,Mauritius,Africa,Terrestrial

## 2. Adding back in columns on taxonomy (order, family, genus, species) by merging two tables

In [30]:
#Joining order, family, genus and species onto birds dataframe
birds_merge = birds_clean.merge(birds_tax, on = ['id', 'scientific_name', 'class', 'common_name', 'country', 'region', 'system'], indicator = True)

In [31]:
#Checking to see if merge successful
birds_merge.head()

,id,scientific_name,class,common_name,country,region,system,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 0,order,family,genus,species,_merge
0,1,Balearica_regulorum,Aves,Grey-crowned crane,Uganda,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,NaN,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Gruiformes,Gruidae,Balearica,regulorum,both
1,2,Acrocephalus_sechellensis,Aves,Seychelles warbler,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Passeriformes,Acrocephalidae,Acrocephalus,sechellensis,both
2,3,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,41.0,NaN,NaN,21.0,24.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,Passeriformes,Muscicapidae,Copsychus,sechellarum,both
3,4,Copsychus_sechellarum,Aves,Seychelles magpie-robin,Seychelles,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,39.0,38.0,38.0,38.0,24.0,24.0,21.0,25.0,26.0,NaN,23.0,20.0,23.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,Passeriformes,Muscicapidae,Copsychus,sechellarum,both
4,5,Falco_punctatus,Aves,Mauritius kestrel,Mauritius,Africa,Terrestrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,4.0,8.0,2.0,2.0,4.0,4.0,8.0,8.0,14.0,14.0,14.0,18.0,16.0,18.0,26.0,28.0,44.0,52.0,80.0,104.0,116.0,122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,Falconiformes,Falconidae,Falco,punctatus,both

In [32]:
#Looking for a fill match in merged data
birds_merge['_merge'].value_counts()

both          14712
left_only         0
right_only        0
Name: _merge, dtype: int64

### All data was merged

## 3. Save Data

In [33]:
#Exporting the data
birds_merge.to_csv(r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 6/09-07-2023 Living Planet Index Analysis/02 Data/Prepared Data/birds_v3.csv')

### Exported the data to work with in Excel farther